textarea {
    resize:none;
    overflow:hidden;
}

.navbar {
    background-color:#C6FFFF;
}

.nav-item {
    font-size:1.2rem;
}

a {
    color:inherit;
    text-decoration:inherit;
}

.createPostBtn {
    padding:10px 0;
    margin:0 auto;
    width:200px;
    font-weight:bold;
    background:#0090B7;
    color:white;
    border-radius:10px;
    text-align:center;
}

.card {
    width: 18rem;
    text-align:center;
    padding:0;
}

.card:hover {
    color:#8041D9;
}

.card:hover .card-title {
    font-size:1.5rem;
}

.card:hover .card-text {
    font-size:1.2rem;
}

.card:hover .card-footer {
    font-size:0.9rem;
}

.card-body {
    height:11rem;
    overflow: hidden;
}

.card-title {
    font-weight:bold;
}

.card-footer {
    font-weight:bold;
    font-size:0.8rem;
    background:#E8D9FF;
}


.logo {
    width:100px;
    height:70px;
    border-radius:30px;
}

.userForm {
    width:500px;
    margin:10px auto;
}

.userForm > h2 {
    border-bottom:1px solid;
    padding:10px 0;
}

.userForm > form {
    margin-top:30px;
}

.userForm input {
    margin-top:10px;
}

.btn-signup {
    border:0;
    background:#91CADF;
    padding:10px 30px;
    margin-top:10px;
    border-radius:30px;
    color:white;
    transition:0.3s;
}

.btn-signup:hover {
    background:#2EB1E1;
    color:black;
}

.btn-login > a {
    border:0;
}

.navbar-toggler {
    border-radius:50px;
    font-weight:bolder;
    box-shadow:3px 3px;
    padding:10px 20px;
    background:#7DD4FF;
    transition:0.3s;
}

.navbar-toggler:hover {
    background:#155575;
}

.navbar-toggler > span {
    color:#155575;
    transition:0.3s;
}

.navbar-toggler:hover > span {
    color:white;
}

.offcanvas-body a {
    width:100px;
    color:black;
    text-align:center;
    border-radius:30px;
}

.offcanvas-body a:hover {
    background:#66B2FF;
    color:white;
}


.detail-form > h1 {
    background:#D8DEF0;
    margin-bottom:0;
    margin-top:30px;
    font-size:3rem;
    border-radius:20px;
    padding:10px 0;
}

.detail-content {
    padding:10px;
    font-size:1.2rem;
}

.author-name {
    font-weight:bold;
    font-size:1.5rem;
}

.modify-btn > a{
    border-radius:10px;
    padding:0 10px;
    border:0;
    color:#556CAB;
}

.modify-btn > a:hover{
    background:#66B2FF;
    border:0;
}

